<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<%- akDoHeaderMeta(locals) %>
<%- partial('ak_sitemap.html.ejs') %>
<%- partial('ak_siteverification.html.ejs', locals) %>
<!-- http://en.wikipedia.org/wiki/Canonical_link_element -->
<% if (typeof rendered_url !== "undefined") {
    %><link rel="canonical" href="<%- rendered_url %>" /><%
} %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- partial('ak_stylesheets.html.ejs', locals) %>
<% if (headerScripts && headerScripts.javaScriptTop) {
    %><%- partial('ak_javaScript.html.ejs', { javaScripts: headerScripts.javaScriptTop }) %><%
} %>
</head>
<body>
<% if (typeof content !== "undefined") { %><%- content %><% } %>
<!-- JavaScript at the bottom for fast page loading -->
<% if (headerScripts && headerScripts.javaScriptBottom) {
    %><%- partial('ak_javaScript.html.ejs', { javaScripts: headerScripts.javaScriptBottom }) %><%
} %>
<%- partial('ak_googleAnalytics.html.ejs', locals) %>
</body>
</html>